<div class="box1">
  <div class="box-inner">
    <%= form_with model: @user, url: user_registration_path, id: 'new_user', class: 'new_user', local: true do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>
    <h1>新規登録</h1>
    <div class="box-name">
      <%= f.label :name, "名前" %><br />
      <%= f.text_field :name, autofocus: true %>
    </div>

    <div class="box-email">
      <%= f.label :email, "Eメール" %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </div>

    <div class="box-password">
      <%= f.label :password, "パスワード" %>
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "new-password" %>
    </div>

    <div class="box-password">
      <%= f.label :password_confirmation, "パスワード(確認)" %><br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
    </div>

    <div class="box-login">
      <%= f.submit "新規登録" %>
    </div>
    <% end %>

    <div class="box-newusr">
      <p><span>------------</span> 既に登録されていますか？ <span>------------</span></p>
      <%= link_to "ログイン", new_user_session_path %>
    </div>
  </div>
</div>

<%#= render "devise/shared/links" %>

 <footer>
    <p>@StoMee</p>
  </footer> 