<% if user_signed_in?  %>
   <div class="option" >
     <div class="favorite-btn">
       <%#= image_tag "star.png" ,class:"favorite-star-icon" ,width:"20",height:"20"%>
       <p><span>お気に入り登録: </span><%=link_to @stock.likes.count, stock_likes_path(@stock.id), method: :post %></p>
     </div>
     <div class="report-btn">
       <%#= image_tag "flag.png" ,class:"report-flag-icon" ,width:"20",height:"20"%>
       <p><span>お気に入り解除: </span><%=link_to @stock.likes.count, stock_likes_path(@stock.id), method: :delete %></p>
     </div>
     <div class="count-btn">
       <p><span>お気に入りされた数: </span><%= @stock.likes.count %></p>
     </div>
     <% else %>
       <p>お気に入りをするにはユーザー登録をしましょう</p>
     <% end %>
   </div>