
<% if@mees.length != 0 %>
<% if user_signed_in?  %>
     <% if current_user.already_liked?(stock) %>

       <p><span>やってみたい👍　</span><%=link_to stock.likes.count, stock_likes_path(stock), method: :delete,remote: true%></p>

     <%else%>

       <p> <span>やってみたい👍　</span><%=link_to stock.likes.count, stock_likes_path(stock), method: :post,remote: true %></p>

     <%end%>

     <% else %>
    
     <% end %>

   <% end %> 
