                                      <%= link_to "ログイン" , new_user_session_path %>　/　<%= link_to "新規登録" , new_user_registration_path %>
       <br><%= link_to "ユーザー登録" , new_user_registration_path%>をしたら「やってみたい👍」機能や<br>ルーティンを作成することができます