 <% if user_signed_in?  %>
  <% @all_ranks.each.with_index(1)  do |stock ,i| %>
     η¬¬
    <%= i %>
    δ½
 <p><%= stock.title  %>γ€€π‘η·ζ•°<%= stock.likes.count %></p>
 <%end%>
 <%else%>
 γƒ­γ‚°γ‚¤γƒ³γ—γγ‚‰γ‚„γ£γ¦γΏγγ„γƒ©γƒ³γ‚­γƒ³γ‚°γθ¦‹γ‚γΎγ™
 <%end%>