 <% if user_signed_in?  %>
 <p>やってみたいランキング👑</p>
  <% @all_ranks.each.with_index(1)  do |stock ,i| %>
     <p>第<%= i %>位　　<%= "#{stock.user.name}"%>さん　</p>
     
 <p><%= link_to stock.title,stock_path(stock)  %>　👍総数<%= stock.likes.count %> </p>
 <%end%>
 <%else%>
 
  <p><%= link_to "ログイン" , new_user_session_path %>したらやってみたいランキングが見れます</p>
  <p>未登録の方はこちら→<%= link_to "新規登録" , new_user_registration_path %></p>
<br>
 <div id="side-b">
 <p>やってみたいランキング👑</p>

<p>第1位　　junさん　</p>

<p>朝活の流れ　👍総数2</p>

<p>第2位　　242424さん　</p>

<p>午後の読書　👍総数2

<p>第3位　　242424さん　</p>

<p>午後の読書????????　👍総数2</p>

<p>第4位　　junさん　</p>

<p>午後の読書　👍総数2</p>
</div>
 <%end%>