 <% if user_signed_in?  %>
 <p>γ‚„γ£γ¦γΏγγ„γƒ©γƒ³γ‚­γƒ³γ‚°π‘‘</p>
  <% @all_ranks.each.with_index(1)  do |stock ,i| %>
     <p>η¬¬<%= i %>δ½γ€€γ€€<%= "#{stock.user.name}"%>γ•γ‚“γ€€</p>
     
 <p><%= link_to stock.title,stock_path(stock)  %>γ€€π‘η·ζ•°<%= stock.likes.count %> </p>
 <%end%>
 <%else%>
 γƒ­γ‚°γ‚¤γƒ³γ—γγ‚‰γ‚„γ£γ¦γΏγγ„γƒ©γƒ³γ‚­γƒ³γ‚°γθ¦‹γ‚γΎγ™
 <%end%>