// ERBタグを用いることでコントローラにて定義した@receiving_userの値を取得できます 
// また同様にERBタグを用いて部分テンプレートも適用できます(jを用いてエスケープ処理を行う必要あり)
$("#comments_area").html("<%= j(render partial: "likes/like" , locals: { stock: stock }) %>");
// いいね残高をコントローラにて定義した@sending_userを用いて表示します
$(".button_like button_pink").html("<%=link_to stock.likes.count, stock_likes_path(stock), method: :post,remote: true ,class:"button_like button_pink"%>")