
<link href="https://fonts.googleapis.com/earlyaccess/kokoro.css" rel="stylesheet"> <br>
<div id='hideMe'><%= notice %></div>
<h2 class="heading06" data-en="routine"><span class="buruburu">🎉 </span>最新ルーティン</h2>





    <%= render partial: "stock" %>



