
<link href="https://fonts.googleapis.com/earlyaccess/kokoro.css" rel="stylesheet"> <br>
<div id='hideMe'><%= notice %></div>
<h2> 🎉 最新ルーティン</h2>





    <%= render partial: "stock" %>

      <div id="side-a">
      <%#= 部分テンプレート%>
        <%= render partial: "rank"  %>
          <%#= 部分テンプレート%>
    </div>