<link href="https://fonts.googleapis.com/earlyaccess/kokoro.css" rel="stylesheet">

<br>
<h2 class="heading06" data-en="routine">🎉 最新ルーティン</h2>
<div class="notice">
  <%= notice %>
</div>
<%= render partial: "stock" %>

