<h2>✏️　ルーティン作成</h2>
<div class="mate">
<h4>✅タイトルを入力してください</h4>
<br><%= render 'shared/error_messages', model: @stock %>   
   <%= form_with(model: @stock, local: true) do |f| %>
   <%= f.text_field :title, placeholder: "タイトル" %>
   <%#= f.text_field :"hoge", placeholder: "概要" %>
   <%= f.submit "ルーティン登録" %>
   <% end %>
   </div>
   <a href="#modal-01">
  <img src="https://picsum.photos/id/1080/140">
</a>

<div class="modal-wrapper" id="modal-01">
  <a href="#!" class="modal-overlay"></a>
  <div class="modal-window">
    <div class="modal-content">
      <img src="https://picsum.photos/id/1080/600" width="100%">
    </div>
    <a href="#!" class="modal-close">×</a>
  </div>
</div>