<h2 class="heading06" data-en="routine"><span class="buruburu">ðŸ”Ž</span> ãƒ«ãƒ¼ãƒ†ã‚£ãƒ³æ¤œç´¢</h2>
<%= form_with(url: search_stocks_path, local: true, method: :get, class: "search-form") do |form| %>
  <%= form.text_field :keyword, placeholder: "ã‚¿ã‚¤ãƒˆãƒ«ã‚’æ¤œç´¢ã™ã‚‹", class: "search-input" %>
  <%= form.submit "æ¤œç´¢", class: "search-btn" %>
<% end %>

<%= render partial: "stock" %>
