<br>
<div id="comments">
  <h2 class="heading06" data-en="routine"><span class="buruburu"><%= notice %></span></h2>
  <ol class="sample1">
    <h4><span class="buruburu">✨</span>
      <%= @stock.title %><span class="buruburu">✨</span></h4>
    <% if user_signed_in? && current_user.id == @stock.user_id %>
      <%= render partial: "edit" %><br>
        <%= render 'shared/error_messages', model: @mee %> 
        <span class="buruburu">⚠️ルーティンを入力してください</span>
          <%= form_with model: [@stock, @mee],  method: :post,id: "comment-form" do |f| %>
            <%= f.time_select :published_at,{:minute_step => 5}%>
              <%= f.text_field :text , class: "comment-text"%>
                <%= f.submit "ルーティンを追加", class: "comment-submit" %>
                  <% if @mees.length != 0 %>
                    <p style="text-align:right">
                      <%= link_to "投稿完了" ,root_path ,class:"btn btn-info" ,data: {confirm:"トップページへ移動します"}%>
                    </p>
                    <% end %>
                      <% end %>
                        <% end %>
                          <%= render partial: "likes/like" , locals: { stock: @stock }%>
  </ol>
  </p>
  <hr>
  <%= render partial: "mees/new" %>
    <%# 要素 終わり%>
      <% if @mees.length == 0 %>
        <ol class="sample1">
          <h5>⚠️⚠️こちらはサンプルです</h5>
          <li>(例)　⏰　7:00　 起床</li>
          <li>(例)　⏰　7:10　 洗顔</li>
          <li>(例)　⏰　7:20　 愛犬と散歩</li>
          <li>(例)　⏰　7:40　 朝食</li>
          <li>(例)　⏰　7:40　 Eテレを見る</li>
        </ol>
        <% end %>