<h2 class="heading06" data-en="routine">
  <%= @user.name %>さんの投稿一覧</p>
</h2>


<% @stocks.each do |stocks| %>
  <div class="inline-block_test">
    <div class="inline">
      

                  <p>✅ タイトル
                    <%= stocks.title %>
                  </p>
 
                          <% stocks.mees.order(published_at: "ASC").each do |m|%>
                            <p>
                              ⏰　<%= l m.published_at %>
                                <%= m.text%>
                            </p>
                            <%end%>
    </div>
  </div>
  <%end%>
    