<h2 class="heading06" data-en="routine">
      <%#=ここにアイコン%>
      <%#=span class="user"></span>
      <%#=ここにアイコン%>
<%= @user.name %>さんの投稿一覧</p>
</h2>
<%#=もし投稿がなければ%>
<%#= if @stocks.length != nil %>
<%#=もし投稿がなければ%>
  <div class="inline-block_test">
  <% @user.stocks.each do |stock| %>
    <div class="inline">
      <p><%= stock.title %>
      <%if user_signed_in? %>
     <% if user_signed_in? && current_user.id == stock.user_id %>
          <%= link_to '編集', stock_path(stock.id) %><br>
            <% else %>
              <%= link_to '詳細', stock_path(stock.id) %><br>
                <%end%>
          
        </p>
        <% stock.mees.order(published_at: "ASC").each do |m|%>
          <div class="comment">
            <p class="user-info"> </p>
            <p><%= l m.published_at%><%= m.text%></p>
          </div>
             <% end %>
             <%else%>
             <%=render partial: "stocks/login" , locals: { stock: stock } %>

             <% end %>
              <%#= 投稿ごとのやってみたい挿入予定%>
             <br><br>👍総数<%= stock.liked_users.count %>
             <%#= 投稿ごとのやってみたい挿入予定%>
    </div>
    <% end %>


     <div class='column--r'>
 <div id="side-c">
  <h4><%=@user.name%>がやってみたい👍している投稿</h4>
<% @user.liked_stocks.each do |stock| %>

  <p><%= link_to stock.title,stock_path(stock.id) %> <br>
  　👍総数 (<%= stock.liked_users.count %>)　By<%=link_to stock.user.name,user_path(stock.user.id)%></p>
 
<% end %>
</div></div>
  <%#= 自分のやってみたいした投稿表示 %>
   <div class='column--r'>
 <div id="side-a">
<%#= 部分テンプレート%>
👍総数　<%=@likes_count%>
 <%#= 部分テンプレート%>
 <%#=ユーザーランキング実装予定%>
 </div>  
</div>
