<ol class="sample1">
  <h3>ルーティン一覧</h3>
  <p>by
    <%= @stock.user.name %>
  </p>
  <%if  user_signed_in?%>
  <% @mees.each do |mees| %>
    <li> ⏰　
      　<%= l mees.published_at%>　→　
        <%= mees.text%>　
          <% if user_signed_in? && current_user.id == @stock.user_id %>
            <%= link_to '編集' ,edit_stock_mee_path(@stock,mees.id),method: :get %>　
              <%= link_to "削除",stock_mee_path(@stock,mees.id), method: :delete,data: {confirm:"本当に削除しますか？"}%>
                <% end %>
    </li>
    <% end %>
    <%else%>
    <%= render partial: "stocks/login" , locals: { stock: @stock }%>
    <% end %>
  
    

</ol>