<div class="box2">
  <div class="box-inner">
    <%= form_with model: @user, url: user_session_path, local: true do |f| %>
    <h1>ログイン</h1>
    <div class="box-email">
      <%= f.label :email, "Eメール" %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </div>
    <div class="box-password">
      <div class="a-row">
        <div class="column-left">
          <%= f.label :password, "パスワード" %>
        </div>
        <div class="column-right">
          <%= link_to "パスワードを忘れた場合", new_user_password_path %>
        </div>
      </div>
      <%= f.password_field :password, autocomplete: "current-password" %>
    </div>
    <div class="box-login">
      <%= f.submit "ログイン" %>
      <% if devise_mapping.rememberable? %>
      <div class="remember">
        <%= f.check_box :remember_me %>
        <%= f.label :remember, "ログインしたままにする" %>
      </div>
      <% end %>
    </div>
    <% end %>

    <div class="box-newusr">
      <p><span>------------</span> 新しいお客様ですか？ <span>------------</span></p>
      <%= link_to "新規登録", new_user_registration_path %>
    </div>
  </div>
</div>

 <footer>
    <p>@StoMee</p>
  </footer> 

