/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require bootstrap/dist/css/bootstrap.min.css

 */
 @import "bootstrap"; 


 .example li{

  float:left;
  list-style: none;
  margin: 30px;
}

.list-menu{
  margin-bottom: 50px;
}

 /* justify-content:flex-end; を指定 */
 
 body {
   
  font-family: 'Caveat', cursive;
}
 


.logo{
/* 　//float: left;によって<logo>要素と<list-menu>要素が横並びになる */
  margin:10px 0 0 30px;
  float:left;
}



ul.list {
/* //liのメニューを右に寄せる */
display: flex;
       /*並び順*/
        /*
        flex-start：左寄せ（デフォルト）
        flex-end：右寄せ
        center： 中央寄せ
        space-between：残り余白の均等割り 
        space-around：左右余白 ＋ 均等割り
        */
        justify-content: flex-end;
list-style: none;
}

li {
/* 　// liの中の高さとか、間の調整 */
padding: 0 15px;
margin-top:15px;

}

.userList{
  color: #ffc107;
  text-decoration: none;
}

.double {
  size: 20px;

}

/* footer{
  width: 100%;
  background-color: #ffc107;
  color: #fff;
  text-align: center;
  padding: 30px 0;
} */

/* 見出し */
.heading06 {
  
  color: rgb(150, 144, 112);
  background:linear-gradient(-45deg, #fff, #ffc107);
	position: relative;
	padding-top: 70px;
	padding-bottom: 50px;
	font-size: 26px;
	text-align: center;
  font-size: 50px;
}

.heading06 span {
	position: relative;
	z-index: 2;
}

h1 {
  padding-left: 30px;
  background: url(https://japaclip.com/files/icon-bean-bulb.png) no-repeat left center;
}
.heading06::before {
  
	content: attr(data-en);
	position: absolute;
	top: 5px;
	left: 50%;
	transform: translateX(-50%);
	color: rgba(224,66,114,0.2);
	font-size: 80px;
	font-style: italic;
}
/* 見出しここまで */
