/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require bootstrap/dist/css/bootstrap.min.css

 */
 @import "bootstrap"; 
 
 
/* 共通 */

 body {
  height: 100%;
  width: 100%;
  background:linear-gradient(-45deg, #fff, #ffe388 );

}
 
 .box {
  width: auto;
  height: auto;
  max-width: 800px;
}
/* 共通 */
/* 一覧リスト 1*/
.inline-block_test {  
  display: inline-block;
  width: 60%;                      /* 幅指定 横並びはmin-width:480px;*/
  height: auto;  
  justify-content: space-between; /* 左右均等分布 */
 
}
   
.inline{
 
  margin-bottom: 50px;
  /* インラインブロック要素にする */
    /* かど指定 */
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
     /* かど指定 */
    font-family: "Kokoro";
    padding: 20px;                      /* 余白指定 */
    box-shadow: 2px 2px 2px 2px rgb(44, 44, 44);   /* 影指定 */
                       /* 縦指定 */
    // background:linear-gradient(-45deg, #64b3f4, #ffc107);
    background: linear-gradient(-45deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)) fixed, 
    url(https://drive.google.com/uc?export=download&id=1bLKRjt72iBO3l-BNUgMU30wAQLWy-79u) fixed;
    background-size: cover;
    color: #000;
    // float: left;  /* 右、左指定 */
    list-style: none;
    font-size: 21px;
    margin: 30px;  //margin:  0 auto;            /* 中央寄せ */
 

}
/* 一覧リスト1 */
/* 一覧リスト 1*/
.inline-block_test2 {  
  
  min-width: 100%;                       /* 幅指定 */
  height: auto;  
  justify-content: space-between; /* 左右均等分布 */
 
}
   
.inline p{
  color: #333;
}
.inline2{
  
  margin-bottom: 50px;
  /* インラインブロック要素にする */
    /* かど指定 */
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
     /* かど指定 */
    font-family: "Kokoro";
    padding: 20px;                      /* 余白指定 */
    box-shadow: 2px 2px 2px 2px rgb(44, 44, 44);   /* 影指定 */
                       /* 縦指定 */
    // background:linear-gradient(-45deg, #64b3f4, #ffc107);
    background: linear-gradient(-45deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)) fixed, 
    url(https://drive.google.com/uc?export=download&id=1bLKRjt72iBO3l-BNUgMU30wAQLWy-79u) fixed;
    background-size: cover;
    
    float: left;  /* 右、左指定 */
    list-style: none;
    font-size: 21px;
    margin: 30px;
    align-items:  center !important; /* 上下中央揃え */

}
/* 一覧リスト1 */


 /* justify-content:flex-end; を指定 */
 

//グローバルナビここから
.logo{
/* 　//float: left;によって<logo>要素と<list-menu>要素が横並びになる */
  margin:10px 0 0 30px;

  float:left;
}



ul.list {
/* //liのメニューを右に寄せる */
display: flex;
       /*並び順*/
        /*
        flex-start：左寄せ（デフォルト）
        flex-end：右寄せ
        center： 中央寄せ
        space-between：残り余白の均等割り 
        space-around：左右余白 ＋ 均等割り
        */
        justify-content: flex-end;
list-style: none;
}

li {
/*  liの中の高さとか、間の調整 */
padding: 0 15px;
margin-top:15px;

}
//グローバルナビここまで

.userList{
  font-size:2em;
  color: #ffc107;
  text-decoration: none;
}

.double {
  size: 20px;

}

//  footer{
//   width: 100%;
//   background-color: #ffc107;
//   color: #fff;
//   text-align: center;
//   padding: 30px 0;
// }

/* 見出し */
h1 {
  padding-left: 30px;
  background: url(https://japaclip.com/files/icon-bean-bulb.png) no-repeat left center;
}
.heading06 {
  font-family: "Kokoro";
  color: rgb(150, 144, 112);
  background: linear-gradient(-45deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)) fixed, 
  url(https://japaclip.com/files/icon-bean-bulb.png) fixed;
	position: relative;
	padding-top: 70px;
	padding-bottom: 50px;
	font-size: 26px;
	text-align: center;
  font-size: 50px;
}

.heading06 span {
	position: relative;
	z-index: 2;
}


.heading06::before {
  
	content: attr(data-en);
	position: absolute;
	top: 5px;
	left: 50%;
	transform: translateX(-50%);
	color: rgba(224,66,114,0.2);
	font-size: 80px;
	font-style: italic;
}
/* 見出しここまで */

// ここからログイン・ログアウト


.box1 {
  width: 350px;
  height: 600px;
  margin: 60px auto 0;
  border-radius: 4px;
  border: 1px #ddd solid;
}

.box2 {
  width: 350px;
  height: 450px;
  margin: 60px auto 0;
  border-radius: 4px;
  border: 1px #ddd solid;
}

.box-inner {
  padding: 20px 26px;
}

h1 {
  font-weight: 400;
  font-size: 28px;
  line-height: 1.2;
  margin-bottom: 10px;
  padding-bottom: 4px;
  color: #111111;
}

.box-name {
  margin-bottom: 11px;
}

.box-email {
  margin-bottom: 11px;
}

.box-password {
  margin-bottom: 22px;
}

.box-name label, .box-email label, .box-password label {
  font-weight: 700;
  font-size: 11px;
  padding-left: 2px;
  padding-bottom: 2px;
}

.box-name input[type="text"], .box-email input[type="email"], .box-password input[type="password"] {
  border-style: none;
  box-sizing: border-box;
  width: 100%;
  height: 31px;
  border: 1px solid #a6a6a6;
  box-shadow: 0 1px 0 rgba(0,0,0,.07) inset;
  border-radius: 1px;
  padding: 0 7px;
}

.column-left {
  float: left;
}

.column-right {
  float: right;
}

.box-password a {
  font-size: 11px;
}

.box-login {
  margin-bottom: 26px;
}

.box-login input[type="submit"] {
  border-style: none;
  width: 100%;
  height: 31px;
  background: linear-gradient(to bottom,#f7dfa5,#f0c14b);
  border-radius: 1px;
  border: 1px #a88734 solid;
}

.box-login input[type="submit"]:hover {
  cursor: pointer;
  background: #f0c14b;
}

.remember {
  font-size: 11px;
  margin-top: 18px;
  padding-left: 1px;
}

.box-newusr p {
  text-align: center;
  font-size: 12px;
  color: #767676;
  margin-bottom: 14px;
}

.box-newusr p span {
  text-decoration: line-through;
  text-decoration-color: #e7e7e7;
}

.box-newusr a {
  display: block;
  width: 100%;
  height: 31px;
  font-size: 11px;
  color: #111;
  line-height: 31px;
  text-align: center;
  background: linear-gradient(to bottom,#f7f8fa,#e7e9ec);
  border-radius: 1px;
  border: 1px #a2a6ac solid;
}

.box-newusr a:hover {
  background: #e7e9ec;
}

// ここまでログイン・ログアウト

//スマホ表示
// @media screen and (max-width: 480px) {
//   .inline-block_test {
//     min-width: 480px;
//   }
// }
#koko{
  display:none;
}

input[type="checkbox"]:checked + #koko{
  display:block;
}

/*全体*/
.hidden_box {
  margin: 2em 0;/*前後の余白*/
  padding: 0;
}

/*ボタン装飾*/
.hidden_box label {
  padding: 15px;
  font-weight: bold;
  border: solid 2px black;
  cursor :pointer;
}

/*ボタンホバー時*/
.hidden_box label:hover {
  background: #efefef;
}

/*チェックは見えなくする*/
.hidden_box input {
  display: none;
}

/*中身を非表示にしておく*/
.hidden_box .hidden_show {
  height: 0;
  padding: 0;
  overflow: hidden;
  opacity: 0;
  transition: 0.8s;
}

/*クリックで中身表示*/
.hidden_box input:checked ~ .hidden_show {
  padding: 10px 0;
  height: auto;
  opacity: 1;
}


ol.sample1{
  margin:  0 auto;            /* 中央寄せ */
  counter-reset:list;
  list-style-type:none;
  position:relative;
  font: 14px/1.6 'Mv Boli', 'arial narrow', sans-serif;
  padding: 1.2em;

  background:linear-gradient(-45deg, rgb(212, 205, 205), #F2EFE7 );
  -webkit-box-shadow: 0 0 40px rgba(0, 0, 0, 0.2) inset,0 0 4px rgba(0, 0, 0, 0.2) ;
  -moz-box-shadow: 0 0 40px rgba(0, 0, 0, 0.2) inset,0 0 4px rgba(0, 0, 0, 0.2) ;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.2) inset,0 0 4px rgba(0, 0, 0, 0.2) ;
  min-width:340px;
  max-width: 600px;
}
ol.sample1:after{
  content:"list-yaruko";  /* 右下の文字 */
  position: absolute;
  bottom: 8px;
  right: 1.2em;
  font-size:16px;
  color:#bbb;
  
}
ol.sample1 li{
  
  position:relative;
  padding: 7px 5px 7px 50px;
  margin: 7px 0 10px 0px;
  font-weight: bold;
  font-size:16px;
  border-bottom:dashed 1px #ccc;

}
ol.sample1 li:first-child{
  margin-top:0;
}
ol.sample1 li:last-child{
  margin-bottom:20px;
}
ol.sample1 li:before{
  counter-increment: list;

  position: absolute;
  left: 15px;
  font-size:1.2em;
   top: 50%;
  -moz-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
ol p{
  text-align: right;
  font-weight: bold;
  font-size:16px;
  
}


ul {
	padding: 0;
	margin: 0;
}
li {
	list-style-type: none;
}
a {
	color: rgb(47, 103, 255);
	text-decoration: none;
}


header {
  
	display: flex;
	align-items: center;
}
.logo {
	padding: 10px 20px;
	display: inline-block;
}
nav {
  margin-left: auto;
}
nav ul {
	display: flex;
}
nav ul li a {
	padding: 0 20px;
}

.search-form{
  text-align: center;
  font-weight: bold;
  font-size:16px;
}