<!DOCTYPE html>
<html>
<head>
  <title>Stome</title>
  <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
      <link href="https://fonts.googleapis.com/css?family=Caveat rel="stylesheet">
      <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
            <%= stylesheet_link_tag 'application' %>
   <%= javascript_pack_tag 'application' %>
</head>

<body>
<header>
  <div class="logo">
    <h1>
      <span class="buruburu"><%= link_to "StoMee💡", root_path,class:"userList" %> </span>
    </h1>
  </div>
  <nav>
    <ul>
      <% if user_signed_in? %>
        <li>
        <%= link_to "マイページ", user_path(current_user), class: "btn btn-outline-info" %>
          <%= link_to "ログアウト", destroy_user_session_path, class: "btn btn-outline-info" ,method: :get, data: {confirm:"ログアウトしますか？"} %>
            <%= link_to "作成する", new_stock_path, class: "btn btn-outline-info" ,id: "submit"%>
        </li>
        <% else%>
          <li>
            <%= link_to "ログイン", new_user_session_path, class: "btn btn-outline-info" %>
              <%= link_to "新規登録", new_user_registration_path, class: "btn btn-outline-info" %>
          </li>
          <% end %>
    </ul>
  </nav>
</header>
<div class="wrapper">
<%= yield %>
  </div>
</body>
</html>